<footer>
    <link rel="stylesheet" href="style/styles.css">
    <p class="copyright"> Made with ❤️ By Yugank.</p>
    <% const d=new Date();%>
        <% let year=d.getFullYear();%>
            <p>Copyright © <%= year %>
            </p>
</footer>